.footer_container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 60px; /* 푸터의 높이를 설정합니다. */
    background-color: #383838;
    color: #f7f7f7;
    text-align: center;
    padding: 10px 0;
}

.developer_info {
    padding: 10px;
    margin: 0;
}

.footer a {
    color: #f7f7f7;
    text-decoration: none;
}

.footer img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.email {
    font-weight: bold;
}

.copyright_info {
    margin: 0;
}
