<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>지뢰밟기</title>
    <link rel="stylesheet" th:href="@{/css/game.css}">
</head>
<body>
<div class="container">
    <!-- 승리 및 패배 메시지 변경 -->
    <h2 th:if="${session.isVictory == false && session.isGameOver == false}">지뢰밟기</h2>
    <h2 th:if="${session.isVictory}" style="color:red;">뭐하시는 거죠? 왜 지뢰를 안밟으세요?</h2>
    <h2 th:if="${session.isGameOver}" style="color:green;">축하합니다! 성공적으로 지뢰를 밟았읍니다!</h2>
    <div class="board">
        <table class="board">
            <tbody>
            <!-- 2차원 배열 반복문 시작 -->
            <tr th:each="row, yStat : ${session.board}">
                <!-- 현재 행의 요소 반복문 시작 -->
                <td th:each="cell, xStat : ${row}">
                    <div th:text="${cell}"
                         class="cell"
                         th:data-x="${xStat.index}"
                         th:data-y="${yStat.index}"
                         th:onclick="'clickCell(this)'"
                         th:classappend="${cell} == 'M' or ${cell} == 'E' ? 'mine' : (${cell} == 'B' ? 'blank' : (${cell} == 'X' ? 'stepped' : 'number'))">
                         <img th:src="@{/images/mine.png}" style="opacity: ${cell == 'X' ? 1 : 0};"/>
                    </div>
                </td>
                <!-- 현재 행의 요소 반복문 종료 -->
            </tr>
            <!-- 2차원 배열 반복문 종료 -->
            </tbody>
        </table>
    </div>
    <img th:if=${session.isVictory} src="/images/victory.jpg" class="result_image" alt="Victory Image">
    <img th:if=${session.isGameOver} src="/images/gameover.jpg" class="result_image" alt="GameOver Image">

    <!-- 승리 및 패배 버튼 문구 메시지 변경 -->
    <a th:if="${session.isVictory == false && session.isGameOver == false}" href="/" class="button">때려치기</a>
    <a th:if="${session.isVictory}" href="/" class="button">패배자♡ 허접♡</a>
    <a th:if="${session.isGameOver}" href="/" class="button">지뢰 더 밟으러 가기</a>
</div>

    <!-- 셀 정보를 할당하기 위한 히든 폼 -->
    <form id="cellClickForm" th:action="@{/process}" method="post" style="display: none;">
        <input type="hidden" id="x" name="x">
        <input type="hidden" id="y" name="y">
        <input type="hidden" id="board" name="board" th:value="${#strings.arrayJoin(board, ',')}">
    </form>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var isVictory = /*[[${session.isVictory}]]*/ false;
        var isGameOver = /*[[${session.isGameOver}]]*/ false;

        function clickCell(element) {
            // 게임이 종료되지 않은 상태에서만 클릭 이벤트 처리
            if (!isVictory && !isGameOver) {
                var x = element.getAttribute('data-x');
                var y = element.getAttribute('data-y');
                document.getElementById('x').value = x;
                document.getElementById('y').value = y;
                document.getElementById('cellClickForm').submit();
            }
        }
        /*]]>*/
    </script>
</body>
</html>
